{{yield}}

<button class="app-btn" {{action 'generatePcSet' 3}}>Trichords</button>
<button class="app-btn" {{action 'generatePcSet' 4}}>Tetrachords</button>
<button class="app-btn" {{action 'generatePcSet' 5}}>Pentachords</button>
<button class="app-btn" {{action 'generatePcSet' 6}}>Hexachords</button>
<button class="app-btn" {{action 'generatePcSet' 'all'}}>Surprise me!</button>
