 {{yield}}
<div id="set-theory-buttons">
  <button class="app-btn" {{action 'toggleVisibilities' 'primeForms'}}>Prime Form List</button>
<!--  &emsp;
  <button class="app-btn" {{action 'setUp' 'clock' 'calculator'}}>Clock Face Calculator</button>
-->
  &emsp;
  <button class="app-btn" {{action 'toggleVisibilities' 'quizzer'}}>Prime Form Quizzer</button>

</div>

<div class="container">



    {{#if isVisible.clock}}
      <div id="clock-face-wrapper">
        <button type="button" class="close serial-close" {{action 'toggleVisibilities' ''}}>
          <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>

          {{#clock-face cardinality='12' interactive=true action="handleSubcomponents" theInteraction=interaction}}
          {{/clock-face}}
          <button type="button" class="btn btn-default serial-close btm-close" {{action 'toggleVisibilities' ''}}>Close</button><br />
      </div>
    {{/if}}

    {{#if isVisible.primeForms}}
      <div id="prime-form-list" class="serial-display">
        <button type="button" class="close serial-close" {{action 'toggleVisibilities' ''}}>
          <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
        {{#primeform-list action="handleSubcomponents"}}
        {{/primeform-list}}
        <button type="button" class="btn btn-default serial-close btm-close" {{action 'toggleVisibilities' ''}}>Close</button><br />
      </div>
    {{/if}}
    {{#if isVisible.quizzer}}
      <div id="primeform-quizzer" class="serial-display">
        <button type="button" class="close serial-close" {{action 'toggleVisibilities' ''}}>
          <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
        {{#primeform-quizzer interaction='quizzer'}}
        {{/primeform-quizzer}}

        <button type="button" class="btn btn-default serial-close btm-close" style="clear: both;"{{action 'toggleVisibilities' ''}}>Close</button><br />
      </div>
    {{/if}}

</div>
