{{yield}}

    <a class="app-btn" {{action 'generatePcSet' 3}}>Trichord</a>
    <a class="app-btn" {{action 'generatePcSet' 4}}>Tetrachord</a>
    <a class="app-btn" {{action 'generatePcSet' 5}}>Pentachord</a>
    <a class="app-btn" {{action 'generatePcSet' 6}}>Hexachord</a>
    <a class="app-btn" {{action 'generatePcSet' 'all'}}>Surprise me</a>
